<div class="small-card">  <div class="row">
  <span class="label">Index:</span>
  <span class="value">{{index }}</span>
</div>
  <div class="row">
    <span class="label">Name:</span>
    <span class="value">{{message.name }}</span>
  </div>
  <div class="row">
    <span class="label">Message:</span>
    <span class="value">{{message.message}}</span>
  </div>
  <div class="row">
    <span class="label">Email:</span>
    <span class="value">{{message.email}}</span>
  </div>
  <button type="Button" (click)="onDelete()">Delete</button>
</div>
