<div class="form-container">
  <h2>Contact Form</h2>
  <form id="contactForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>

    <label for="message">Message:</label>
    <input type="message" id="message" name="message" [(ngModel)]="message" required>

    <button type="submit" (click)="onSubmit()">Submit</button>
  </form>
  <!-- <table *ngIf="isSubmitted">
     <thead>
     <tr>
       <th>index</th>
       <th>Name</th>
       <th>Message</th>
       <th>Email</th>
     </tr>
     </thead>
     <tbody>
     <tr *ngFor="let msg of messages,let i=index">
       <td>{{ i+1 }}</td>
       <td>{{ msg.name }}</td>
       <td>{{ msg.message }}</td>
       <td>{{ msg.email }}</td>
     </tr>

     </tbody>
   </table>-->
  <div *ngIf="isSubmitted">
    <app-message-detail
      *ngFor="let msg of messages;let i=index"
      [message]="msg"
      [index]=i
      (delete)="deleteMessage($event)"
    ></app-message-detail>
  </div>
</div>
